@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
} 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.fade-out {
  transition: opacity 0.5s ease-out, height 1000s ease-out;
  opacity: 0;
  height:0;
  overflow: hidden;
}
.height-animation {
  transition: height 1s ease-out;
  overflow: hidden;
}
.heightAnim-extended
{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.visible {
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  opacity: 1;
  visibility: visible;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}
.timer-collapsed {
  height: 200px; /* Initial or default height when not expanded */
}
.timer-expanded {
  height: calc(100vh - 200px); /* Adjust as necessary */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
